@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    padding-top: 10px;
}

.arrow{
    font-weight: 900;
    font-size: 20px;
}

.cancel{
    font-size: 32px;
    margin: 20px;
}
/* second phase */
.second-half {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
}

.second-half img {
    position: relative; 
    display: block;
    margin-top: -25px; 
    width: 80px;
    height: 80px; 
    z-index: 1; 
}

.second-half .second {
    margin-top: -20px; 
    z-index: 2; 
}
.walletBox{
    border-radius: 10px;
    background-color: #9955BB;
    padding: 25px 15px;
    margin: 2px 26px;
    color: white;
    margin-top: 30px;
}

#walletBalanceHidden{
    display: none;
}

#invisible{
    display: block;
}

#visible{
    display: none;
}

.walletB{
    display: flex;
    padding: 15px 5px;
    align-items: center;
}

.walletImg{
    width: 0.2%;
}

.wb{
    padding: 0px 8px;
    font-size: 22px;
}

#invisible:hover, #visible:hover{
    cursor: pointer;
}

.walletBalance{
    font-size: 20px;
    padding: 15px 5px;
    font-weight: 700;
}

.walletBalanceHidden{
    padding: 15px 5px;
}

.addMoney{
    font-size: 18px;
    background-color: white;
    border: 1px solid white;
    margin: 20px 2.5px;
    padding: 7px 20px 7px 10px;
    border-radius: 22px;
    color: #9955BB;
    max-width: max-content;
    text-decoration-line: none;
}

.addMoney:hover{
    transition: 400ms;
    opacity: 0.8;
    padding-right: 30px;
    cursor: pointer;
}



/* third phase */
.instruct{
    margin-top: 40px;
    padding-left: 30px;
    font-size: 18px;
}

.numbbox{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #9955BB;
    width: 90vw;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}


.netimg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.naija{
    width: 100%;
}

.countryCode{
    padding: 0px 10px;
}

.phonenumb{
   display: flex;
   margin: auto;
    border: none;
    font-size: 20px;
    width: 80vw;
}

.phonenumb:hover{
    border-color: none;
    outline-style: none;
}

.phonenumb:focus{
    border-color: none;
    outline-style: none;
}

input[type="radio"] {
    display: none;
  }
  
.select{
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
  /* Styling the label to mimic a checkbox */
  label {
    text-align: center;
    display: block;
    width: 90vw;
    height: 60px;
    padding: 20px;
    border: 2px;
    border-radius: 30px;
    cursor: pointer;
    margin:20px;
    background: #D4D4D4;
    color: #808080;
    transition: .2s linear all;
  }
  
  /* Style the label when the checkbox is checked */
  input[type="radio"]:checked + label {
    border: 2px solid #9955bb; 
    color: #808080;
  
  }
  .proceed{
    cursor: pointer;
  position: relative;
  display: flex;
  width: 85vw;
  margin: 10px auto;
  height: 65px;
  border-radius: 30px;
  background-color: #9955BB;
  color: var(--color-bg-background);
  border: none;
  outline: 0;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.proceed:hover{
    transition: 500ms;
}

/* Style for disabled submit button */
.proceed.disabled {
    opacity: 0.6; 
    cursor: not-allowed; 
}
/* sixth phase */

.dataPlans{
    background-color: rgba(0,0,0,0.03);
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    display:none;
}

.selectHeader{
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

.cancelBtn{
    background-color: #9955BB;
    border-radius: 20px;
    padding: 7px 22px;
    color:white;
}

.cancelBtn:hover{
    cursor: pointer;
    opacity: 0.6;
    padding: 7px 25px;
    transition: 500ms;
}

.providerPlans{
    padding: 20px 30px 5px 30px;
}

.providerPlanX{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.providerPlanX:hover{
    cursor: pointer;
    transition: 400ms;
}

.dataPrice{
    color: grey;
}

.pImg{
    width: max-content;
}

  @media screen and (max-width:600px){

    /* first phase */

    .profileHead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 20px 10px;
    }

    .profileAndName{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .userProfileImage{
        width: 40px;
        height: 50px;
    }

    .intro{
        font-size: 12px;
    }

    
    /* second phase */

    .walletBox{
        display: flex;
        border-radius: 10px;
        background-color: #9955BB;
        padding:15px 15px 30px 10px;
        margin: 2px 7px;
        color: white;
    }

    .walletImg{
        width: 8%;
    }

    .wb{
        font-size: 14px;
        padding: 0px 6px;
    }

    .walletB{
        display: flex;
        align-items: center;
    }

    .walletBalance{
        font-size: 18px;
        font-weight: 700;
        padding-left: 7px;
    }

    .addMoney{
        font-size: 17px;
        padding: 6px 17px 7px 10px;
    }    
    .second-half {
        right: 0;
        position: absolute; 
        margin-top: 10px; 
        text-align: center; 
    }

    .second-half img {
        width: 55px; 
        height: 55px; 
    }

    .second-half .second {
        margin-top: -15px; 
        margin-left: -20px;
    }
    .select{
        margin: 10px auto;
        flex-direction: column;
    }
    label{
        margin: 10px;
    }
    .naija{
     padding: 0px 0px 0px 15px; 
    }
  }