
* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: auto;
    background-color: #9955BB;
}
.content-box {
    margin: auto;
    display: flex;
    background-color: white;
    width: 430px;
    flex-direction: column;
}

.content-box .profile-info {
    width: 380px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    background: #9955BB;
}
.profile-info #circle1 {
    position: absolute;
    margin-left: 270px;
    margin-top: 30px;
}
.profile-info #circle2 {
    position: absolute;
    margin-left: 240px;
    margin-top: 16px;
}
.profile-info-content {
    display: block;
    position: relative;
    color: white;
}

.profile-info-content .wallet {
    display: flex;
    margin: 8px 13px;
    position: relative;
    color: white;
}

.profile-info-content .wallet svg {
    margin-top: 20px;
    color: white;
}
.profile-info-content .wallet #wallet {
    margin-right: 5px;
    padding-right: 5px;
}
.icon-container {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.profile-info-content .wallet #eye-slash {
    padding-top: 20px;
    padding-left: 8px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.profile-info-content .wallet #eye {
    padding-top: 20px;
    padding-left: 8px;
    cursor: pointer;
    display: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.profile-info-content .wallet p {
    font-weight: 300;
    font-size: 17px;
    margin-top: 15px;
}
.profile-info-content .balance {
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 15px;
    margin: 20px 13px 0px 13px;
}

.profile-info-content a {
    text-decoration: none;
}
.profile-info-content .add-cash {
    width: 150px;
    height: 40px;
    background-color: white;
    margin: 15px 13px;
    border-radius: 30px;
    display: flex;
}
.profile-info-content .add-cash p {
    color: blueviolet;
    font-size: 15px;
    display: flex;
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: center;
}
.profile-info-content .add-cash p a {
    text-decoration: none;
    cursor: pointer;
}

.send-data {
    display: block;
    flex-direction: column;
    margin: 2px auto;
}
.send-data p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 10px auto;
}
.send-data .number-box{
    margin: auto;
    display: flex;
    position: relative;
    width: 380px;
    height: 51px;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(153, 85, 187, 0.61)),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #9955BB9C
}
.send-data .number-box img{
    width: 25px;
    height: 16.5px;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
}
.send-data .number-box h4{
    margin-top: 13px;
    margin-left: 8px;
}

    .send-data .number-box .short-division {
        width: 4px;
        height: 20px;
        background-color: #D9D9D9;
        margin: 15px 5px;
    }

    .send-data .number-box input{
        border: none;
        outline: 0;
        background: transparent;
        color: #000000;
        font-family: inherit;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
    .type p {
        font-family:  inherit;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        padding: 10px;
        width: 95%;
    }

    /* Hide the default checkbox */
    input[type="checkbox"] {
        display: none;
    }

    /* Styling the label to mimic a checkbox */
    label {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        width: 95%;
        height: 50px;
        margin: 10px 10px 20px 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 30px;
        cursor: pointer;
        background: #D4D4D4;
        color: #000000;
        transition: .2s linear all;
        font-family: 'Lexend', Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

    }

    /* Style the label when the checkbox is checked */
    input[type="checkbox"]:checked + label {
        border: 2px solid #9955BB;
    }
    
    
    .type .proceed {
        display: flex;
        width: 95%;
        height: 50px;
        border-radius: 30px;
        background: rgba(153, 85, 187, 1);
        box-shadow: 8px 8px 8px 0px rgba(153, 85, 187, 0.1);
        animation-duration: 1ms;
        cursor: pointer;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
        text-align: center;
        margin: 20px 10px 10px 10px;
        justify-content: center;
        font-size: 14px;
        line-height: 17.7px;
    }
    .type .proceed:hover {
        opacity: 0.5;
        transition: 500ms;
    }
    .profile-info-content .wallet p {
        margin-top: 10px; /* Adjust margin for smaller screens */
    } 
}
