@font-face {
  font-family: 'Lexend';
  src: url('../fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
}

.holder {
  width: 90%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.pic-container {
  margin: 20px 0;
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ccc;
}

.pic-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.intro {
  font-size: 28px;
  font-weight: 700;
  margin: auto;
  display: flex;
  justify-content: start;
  padding: 10px;
}

.profile-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-head #img {
  width: 50px;
  height: 50px;
  margin: 50px auto;
  justify-content: center;
}

section {
  margin: 40px auto;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  border-radius: 25px;
  border: 1px solid #95f;
}

section p {
  text-align: center;
  font-size: 25px;
  line-height: 20px;
  margin: 20px 0;
  padding: 20px 0;
  color: #969696;
}

section h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  padding: 10px;
  margin: 5px 75px;
}

input[type="radio"] {
  display: none;
}

label {
  text-align: center;
  display: block;
  width: 85%;
  height: 60px;
  padding: 20px;
  border: 2px;
  border-radius: 30px;
  cursor: pointer;
  margin: 25px auto;
  background: #D4D4D4;
  font-size: 24px;
  color: #808080;
  transition: .2s linear all;
}

input[type="radio"]:checked + label {
  font-size: 24px;
  border: 2px solid #95F;
  color: #808080;
}

.note {
  margin: 20px auto;
  width: 85%;
  height: 200px;
  border-radius: 20px;
  border: 2px solid #ccc;
}

.note input {
  text-align: center;
  display: flex;
  position: inherit;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #d9d9d9;
  padding: 10px;
  width: 80%;
  font-weight: 600;
  color: #808080;
  font-size: 17px;
  overflow-x: scroll;
  flex-wrap: wrap;
  height: 100px;
  margin: 30px auto 10px auto;
}

.note input::placeholder {
  text-align: center;
  color: #808080;
  font-size: 20px;
  font-weight: 600;
}

.note p {
  text-align: left;
  padding: 15px;
}

.submit-button {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 70%;
  margin: 10px auto;
  height: 65px;
  border-radius: 20px;
  background-color: #9955BB;
  color: var(--color-bg-background);
  border: none;
  outline: 0;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
/* Style for disabled submit button */
.submit-button.disabled {
  opacity: 0.6; /* Reduce opacity */
  cursor: not-allowed; /* Change cursor */
}
@media screen and (max-width: 768px) {
  .holder {
    width: 95%;
    margin: 0 auto;
  }

  .pic-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto 0;
    height: 70px;
    width: 70px;
  }

  .pic-container img {
    width: 70px;
    height: 70px;
  }

  .intro {
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
  }

  .profile-head #img {
    width: 35px;
    height: 35px;
  }

  section {
    border-top: 1.5px solid #9955BB;
  }

  section p {
    font-size: 16px;
    padding: 10px;
  }

  section h6 {
    font-size: 16px;
    margin: 5px 22px;
  }

  label {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 55px;
    padding: 15px;
    font-size: 16px;
    border: 2px solid transparent;
  }
  input[type="radio"]:checked + label {
    font-size: 16px;
    border: 2px solid #95F;
    color: #808080;
  }
  .note {
    width: 90%;
    height: 200px;
  }

  .note input {
    width: 90%;
    height: 80px;
  }

  .submit-button {
    width: 90%;
    margin: 10px 20px;
    height: 50px;
    font-size: 17px;
  }
}
