@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&family=Lexend+Deca:wght@200&family=Lexend:wght@200;400;600&family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto+Mono:ital,wght@1,100&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #95b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 20px;
}
