@import "https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&family=Lexend+Deca:wght@200&family=Lexend:wght@200;400;600&family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto+Mono:ital,wght@1,100&display=swap";
* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  background-color: #ffffff;
}
.content-box {
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.pic-container {
  margin: 20px 0;
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(223, 218, 218);
}
.pic-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.intro {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.profile-head {
  display: flex;
  justify-content: space-between;
}
.profile-head #mysupport{
  width: 50px;
  height: 50px;
  margin: 50px auto;
  justify-content: center;
}

.profile-info {
  border-radius: 10px;
  background-color: #9955BB;
  height: 240px;
  padding: 25px 15px;
  margin: 10px;
  color: white;
}
.profile-info #circle1 {
  position: absolute;
  width: 150px;
  width: 150px;
  margin-left: 480px;
  margin-top: 30px;
}
.profile-info #circle2 {
  position: absolute;
  width: 150px;
  width: 150px;
  margin-left: 600px;
  margin-top: 10px;
}
.profile-info-content {
  display: block;
  position: relative;
  color: white;
}

.profile-info-content .wallet {
  display: flex;
  margin: 20px;
  position: relative;
  color: white;
}
.profile-info-content .wallet svg {
  margin-top: 20px;
  color: white;
}
.icon-container {
  display: flex;
  cursor: pointer;
  font-size: 18px;
  color: white;
  background: #9955BB;
}
#walletbalance {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
#walletBalanceHidden{
  padding: 10px;
  margin: 10px;
  display: none;
}
#visible, #invisible {
  display: flex;
  margin-top: 12px;
  width: 30px;
  height: 30px;
}
#visible{
 display: none;
}
#invisble {
  display: block;
}

.profile-info-content .wallet p {
  font-weight: 300;
  font-size: 25px;
  margin-top:5px;
  padding: 5px;
}
.profile-info-content .wallet-balance {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 15px;
  margin: 20px 13px 0px 13px;
}

.profile-info-content a {
  text-decoration: none;
}
.profile-info-content .add-cash {
  width: 170px;
  height: 50px;
  background-color: white;
  margin: 15px 13px;
  border-radius: 30px;
  display: flex;
}
.profile-info-content .add-cash p {
  color: blueviolet;
  font-size: 18px;
  display: flex;
  margin: auto;
  position: relative;
  text-align: center;
  justify-content: center;
}
.profile-info-content .add-cash p a {
  text-decoration: none;
  cursor: pointer;
}
.section-main h2 {
  font-size: 28px;
  margin: 30px;
  /* border-bottom: 4px solid #9955BB; */
}
.main-service {
  width: 95%;
  height: 170px;
  background-image: url("images/Rectangle 5.png");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 20px auto;
}
.main-content {
  width: 100%;
  justify-content: space-around;
}
.main-content .data {
  height: 160px;
  width: 160px;
  margin: 0 50px;
}

#others {
  display: none;
}

.other-services-container {
  width: 95%;
  background-image: url("images/Rectangle 5.png");
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px auto;
}
.other-services-container p {
  padding: 10px;
  font-size: 20px;
  color: black;
  margin: 15px 10px;
  border-bottom: 4px solid #9955BB;
}

.other-container {
  width: 100%;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.other-container img {
  width: 160px;
  height: 160px;
}
.refer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
}
.refer .head {
  font-size: 30px;
  margin-top: 15px;
  font-weight: bold;
}
.refer .head span {
  font-size: 20px;
  padding-top: 10px;
}
.refer #person-add {
  font-size: 60px;
}

.refer-get-container {
  background: rgba(245, 225, 255, 0.6117647059);
  width: 95%;
  height: 155px;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: 1px solid blueviolet;
  border-bottom: 1px solid blueviolet;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0px rgba(153, 85, 187, 0.6117647059);
  padding: 20px;
  margin: 20px auto;
}

footer {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: #FFFFFF;
  width: 95%;
}
footer .bottom {
  margin: 10px auto;
  padding: 0 auto;
  display: block;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}
footer .bottom a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

footer .bottom p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  margin-top: 8px;
  color: #a7a7a7;
}

@media  screen and (max-width: 768px) {
  .content-box{
    width: 100%;
  }
  .profile-info {
    width: 300px;
    height: 190px;
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #9955BB;
}
.profile-info #circle1 {
    position: absolute;
    margin-left: 220px;
    width: 80px;
    height: 80px;
    margin-top: 30px;
}
.profile-info #circle2 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 200px;
    margin-top: 16px;
}
.profile-info-content {
    color: white;
}

.profile-info-content .wallet {
    display: flex;
    margin: 10px 20px;
    position: relative;
    color: white;
}
.profile-info-content .wallet svg{
  margin-top: 23px;
}
.icon-container {
    display: flex;
    cursor: pointer;
    font-size: 18px;
    margin-top: 2px;
    color: white;
    background: #9955BB;
}
#walletbalance {
    margin: 10px;  
    font-size: 20px;
}
#walletBalanceHidden{
    margin-top: 15px;
    display: none;
}
#visible, #invisible {
    display: flex;
    margin-top: 17px;
    padding-left: 5px;
    width: 25px;
    height: 25px;
}
#visible{
   display: none;
}
.pic-container{
  width: 80px;
  height: 80px;
}
.pic-container img{
  width: 80px;
  height: 80px;
}
#mysupport{
  width: 40px;
  height: 40px;
}
#invisble {
    display: block;
}

.profile-info-content .wallet p {
    font-weight: 300;
    font-size: 17px;
    margin-top: 15px;
}
.profile-info-content .balance {
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 15px;
}

.profile-info-content a {
    text-decoration: none;
}
.profile-info-content .add-cash {
    width: 150px;
    height: 40px;
    background-color: white;
    margin: 15px;
    border-radius: 30px;
    display: flex;
}
.profile-info-content .add-cash p {
  color: blueviolet;
  font-size: 15px;
  display: flex;
  font-weight: 500;
  margin: auto;
  position: relative;
  text-align: center;
  justify-content: center;
}
.profile-info-content .add-cash p a {
    text-decoration: none;
    cursor: pointer;
}
.profile-head {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}

.intro {
  position: relative;
  justify-content: center;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  font-weight: bolder;
  margin: 2px;
}

a #img {
  display: flex;
  position: relative;
  margin: auto;
  cursor: pointer;
}
.main-service {
  width: 100%;
  margin: 10px;
  height: 130px;
  display: flex;
  justify-content: center;
}
.main-content{
  width: 100%;
  justify-content: center;
}
.main-content .data {
  width: 100px;
  height: 100px;
  margin:5px;
}
#others {
  display: block;
  width: 120px;
  height: 120px;
}

.other-services-container {
  width: 95%;
  padding: 2px 0 20px 0;
  margin: 2px auto;
}
.other-services-container p {
  padding: 10px;
  font-size: 20px;
  color: black;
  margin: 10px auto;
  border-bottom: 4px solid #9955BB;
}

.other-container {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.other-container img {
  width: 120px;
  height: 120px;
}
.refer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  gap: 10px;
  width: 100%;
}
.refer .head {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}
.refer .head span {
  font-size: 14px;
  padding-top: 10px;
}
.refer #person-add {
  font-size: 50px;
  margin: 10px;
}

}