@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

.mainbox{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 25px 12px;
    border-radius: 5px;
}

.shouterDetails{
    display: flex;
    flex-direction: column;
}

.shouterNameAnGb{
    color: #9955BB;
    font-size: 20px;
    padding-bottom: 7px;
    font-weight: 600;
}

.shouterPhoneNo{
    color: #434044;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 7px;
}

.shoutNotif{
    display: flex;
    padding-left: 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 120px 30px 0px 30px;
    padding: 20px 12px;
    position: fixed;
    bottom: 0;
    width: 94%;
    background-color: white;
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
  }


  .bottom{
    text-align: center;
  }
  .bottom p {
    font-size: 25px;
    color: #888;
  }
  .bottom:hover{
    transition: 500ms;
    transform: translateY(-5px);
    cursor: pointer;
  }



@media screen and (max-width:600px){

    .mainbox{
        display: flex;
        justify-content: space-between;
        margin: 12px 3px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 5px;
        padding: 25px 7px;
        border-radius: 5px;
    }

    .shoutNotif{
        display: flex;
        padding-left: 7px;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 10px 7px 0px 7px;
        padding: 13px 5px 0px 5px;
        position: fixed;
        bottom: 0;
        width: 90%;
        background-color: white;
       /* box-shadow: 0px -5px 5px -5px ; */
        border-top: 1px solid #9955BB;
        box-shadow: none;
    }


    .bottom p{
        font-size: 12px;
    }

    .bottom:hover{
        transform: none;
    }

}