@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&family=Lexend+Deca:wght@200&family=Lexend:wght@200;400;600&family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto+Mono:ital,wght@1,100&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    position: relative;
}
.body {
    width: 100%;
    display: flex;
}

.content-container {
    height: 140%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}
.content-container p.head {
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}

.content-container p.head span{
   font-size: 17px;
   font-weight: lighter;
}

.input-control input{
    width: 100%;
    flex-direction: column;
    margin: 1.5px 7px;
    padding-left:  10px;
    border: 0;
    outline: 0;
    background-color: #D4D4D4;
}
.input-control {
    position: relative;
    display: flex;
    margin: 5px auto;
    padding: 6px;
    width: 100%;
    justify-content: end;
    transition: 500ms;
}
.input-control input:hover {
    border: 1.8px solid #9955BB;
}
/* Style the dropdown box */
select {
    width: 100%;
    padding: 10px;
    position: relative;
    background-color: #D4D4D4;
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: 500ms;
  }
  select:hover {
    border: 2px solid #9955BB;
  }
  /* Style the dropdown arrow */
  select:after {
    content: "\25BC"; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    margin-right:  30px;
    transform: translateY(-50%); 
    pointer-events: none; /* Make sure the arrow does not interfere with click events */
  }
  
.input {
    cursor: pointer;
    height: 55px;
    border-radius: 30px;
}
input {
    background-color: #D4D4D4;
    border: none;
}
.input::placeholder {
    padding: 10px;
    margin: 3px;
    color: #9C9C9C;
}

.submit-button {
    cursor: pointer;
    margin: 10px;
    height: 50px;
    border-radius: 20px;
    background-color: #9955BB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: large;
    width: 95%;
    border: none;
}
button a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
    font-weight: bold;
}
.submit-button:hover {
    transform: scale(1.03);
    transition: 2s ease-out;
}

.submit-button:focus {
    transform: scale(1.03);
    transition: 2s ease-out;
}
p.buttom {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 15px;
}
p.bottom a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: #9955BB;
    font-weight: bold;

}
.input-control i {
    position: absolute;
    /* margin-left: 22em; */
    font-size: 20px;
    margin-top: 15px;
    padding-right: 15px;
    margin-right: 1rem;
    color: #999;
}

.eye {
    position: absolute;
    margin-right: 3rem;
    cursor: pointer;
}
#hide1 {
    display: none;
}

.text-container {
    text-align: center;
}

.disabled-icon {
    color: #999;
    pointer-events: none;
}

@media (min-width: 768px) {
  .content-container {
    width: 45%; /* Added media query for larger screens */
  }
}


.submit-button {
    cursor: pointer;
    margin: 10px;
    height: 50px;
    border-radius: 20px;
    background-color: #9955BB;
    color: var(--color-bg-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

@media (max-width: 768px) {
    .content-container{
        width: 100%;
    }
