@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}

.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #fff;
    padding: 20px;
}

.division {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.welcome {
    border-radius: 20px;
    height: 100vh;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/Shiny\ Overlay.svg);

    margin: auto 0;
}
.welcome h2{
    font-size: 40px;
    color: #fff;
}
.welcome span{
    color: #45125f;
    font-size: 50px;
}
.sign-up {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

p.head {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

p.head span {
    font-size: 28px;
    font-weight: normal;
}

.input-control {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    font-size: 20px;
    position: relative;
}

.input {
    flex: 1;
    padding: 20px;
    background-color: #D4D4D4;
    border: none;
    outline: none;
    font-size: 20px;
    height: 60px;
    border-radius: 30px;
    padding-right: 40px; /* Add space for the image */
}

.input::placeholder {
    color: #9C9C9C;
    font-size: 20px;
}

.input:hover,
select:hover {
    border: 1.8px solid #9955BB;
}

select {
    width: 100%;
    height: 55px;
    background-color: #D4D4D4;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    color: #9C9C9C;
}

select:focus {
    border: 1.8px solid #9955BB;
}

option[value="gender"] {
    color: #9C9C9C;
    font-size: 20px;
}

.submit-button {
    cursor: pointer;
    margin: 10px 0;
    height: 60px;
    border-radius: 30px;
    background-color: #9955BB;
    color: #fff;
    padding: 10px;
    font-size: 26px;
    width: 100%;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button:hover,
.submit-button:focus {
    transform: scale(1.03);
    transition: transform 0.2s ease-out;
}

.submit-button a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
}
.submit-button p {
    font-size: 26px;
}
.text-container {
    text-align: center;
    font-size: 26px;
}

.text-container p.bottom {
    margin: 10px 0;
    font-size: 24px;
}

.text-container p.bottom a {
    text-decoration: none;
    color: #9955BB;
    font-weight: bold;
    font-size: 26px;
}

.input-control img {
    position: absolute;
    right: 15px; /* Position the image to the right */
    width: 23px;
    height: 23px;
    color: #999;
}

.eye {
    position: absolute;
    top: 10px;
    right: 0px; 
    cursor: pointer;
}

#hide1,
#confirm-hide1 {
    display: none;
}

#welcome {
    width: 180px;
    height: 100vh;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

#welcome h2 span {
    color: #9955BB;
    font-size: 45px;
    border-left: 5px solid #9955BB;
    padding-left: 10px;
}

#circle1, 
#circle2 {
    width: 60px;
    height: 60px;
    margin: 10px 0;
}

/* Modal content */
.modal-content {
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    margin: auto;
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Example maximum width */
    background-color: white; /* Optional */
    z-index: 1000; /* Ensure modal is on top of other elements */
    border-radius: 20px;
  }
  .modal-content a{
    text-decoration: none;
  }
  .modal-content .emoji{
    font-size: 35px;
  }
  .modal-content button{
    width: 220px;
    height: 70px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #9955bb;
    color: #fff;
    font-size: 20px;
  }
  .modal-content h2{
    font-size: 32px;
  }
  .modal-content p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 22px; /* Example paragraph font size */
    padding: 20px;
}
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .modal-content {
      width: 80%; /* Adjust width for smaller screens */
      height: 55%;
      max-width: 100%; /* Ensure it can expand to full width if needed */
      padding: 15px; /* Adjust padding as needed */
      font-size: 18px;
    }
    .modal-content button{
        width: 180px;
        height: 55px;
        font-size: 18px;
      }
      
      .modal-content p {

        font-size: 18px; /* Example paragraph font size */
       
    }
  }
  
/* Media query for smaller screens */
@media (max-width: 768px) {
    .content-container {
        width: 100%;
    }
    .welcome {
        display: none;
    }
    .input-control {
        margin: 10px 0;
        font-size: 18px;
    }
    p.head{
        font-size: 20px;
        margin-bottom: 10px;
    }
    p.head span {
        font-size: 18px;
    }
    .input {
        padding: 15px;      
        font-size: 18px;
        height: 55px;
    }
    
    .input::placeholder{
        font-size: 18px;
    }
    #circle1,
    #circle2 {
        display: none;
    }
    select {
        width: 100%;
        margin: 10px 0;
    }
    .submit-button {
        margin: 20px 0;
        width: 100%;
    }
    .submit-button p {
        font-size: 20px;
    }
    .text-container p.bottom {
        font-size: 18px;
    }
    .text-container p.bottom a {
        font-size: 20px;
    }
    .sign-up {
        width: 100%;
    }
}
