<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Data</title>

    <link rel="stylesheet" href='{% static "./BuyData.css" %}'>
    <link rel="stylesheet" href='{% static "./BuyDataMobile.css" %}'>
</head>
<body>
    
    <!--first phase-->
    <a href='/' class="backArrow">
       <span class="arrow">&lt;</span> Back
    </a>

    <!--second phase-->
    <div class="walletBox">
        <div class="walletB">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: white;"><path d="M16 12h2v4h-2z"></path><path d="M20 7V5c0-1.103-.897-2-2-2H5C3.346 3 2 4.346 2 6v12c0 2.201 1.794 3 3 3h15c1.103 0 2-.897 2-2V9c0-1.103-.897-2-2-2zM5 5h13v2H5a1.001 1.001 0 0 1 0-2zm15 14H5.012C4.55 18.988 4 18.805 4 18V8.815c.314.113.647.185 1 .185h15v10z"></path></svg>
            <span class="wb">
               Wallet Balance
            </span>
            <img src='{% static "images/Show.png" %}' alt="" id="invisible" onclick="hideBalance()">
            <img src='{% static "images/Show (1).png" %}' alt="" id="visible" onclick="showBalance()">
        </div>
    
        <div class="walletBalance" id="walletBalance">
            NGN {{user.profile.wallet_balance}}
        </div>
    
        <div class="walletBalanceHidden" id="walletBalanceHidden">
           <img src='{% static "images/hid.png" %}' alt="">
           <img src='{% static "images/hid.png" %}' alt="">
           <img src='{% static "images/hid.png" %}' alt="">
           <img src='{% static "images/hid.png" %}' alt="">
        </div>
        <a href='{% static "#" %}' class="addMoney">+ add money</a>  
    </div>

    <!--envelope -->
    <div class="bigEnvelope" id="bigEnvelope">
    <!--Third phase-->
    <div class="instruct">
        <b>Kindly Enter The Designated Phone Number</b>
    </div>
    <div class="numbbox">
        <div class="netimg">
            <img src='{% static "images/Group.jpg" %}' alt="" class="naija">
            <div class="countryCode">+234</div>
            <img src='{% static "images/Line 5.png" %}' alt="">
        </div>
        <input id="phoneno" type="text" class="phonenumb" value="{{phone_number}}">
    </div>


    <!--Fourth phase-->
    <div class="instruct2">
        <b>Kindly Choose Your Network Type</b>
    </div>
    <div class="networkType">
        <div class="HexContainer" onclick="change1()" id="MTN">
            <div class="hexagon">
                <div class="shape">
                    <img src='{% static "images/mtn.svg" %}' alt="">
                    <div class="overlay" id="overlay1">
                        <img src='{% static "images/NEW2 2.png" %}' alt="" class="logO">
                    </div>
               </div>
             </div>

        </div>
    
        <div class="HexContainer" onclick="change2()" id="GLO">
            <div class="hexagon">
                <div class="shape">
                    <img src='{% static "images/globacom-limited.svg" %}' alt="">
                    <div class="overlay" id="overlay2">
                        <img src='{% static "images/NEW2 2.png" %}' alt="" class="logO">
                    </div>
               </div>
             </div>

        </div>
    
        <div class="HexContainer" onclick="change3()" id="9MOBILE">
            <div class="hexagon">
                <div class="shape">
                    <img src='{% static "images/9mobile.svg" %}' alt="">
                    <div class="overlay" id="overlay3">
                        <img src='{% static "images/NEW2 2.png" %}' alt="" class="logO">
                    </div>
               </div>
             </div>

        </div>
    
        <div class="HexContainer" onclick="change4()" id="AIRTEL">
            <div class="hexagon">
                <div class="shape">
                    <img src='{% static "images/airtel-nigeria.svg" %}' alt="">
                    <div class="overlay" id="overlay4">
                        <img src='{% static "images/NEW2 2.png" %}' alt="" class="logO">
                    </div>
               </div>
             </div>

        </div>
    </div>

    <!--Fifth phase-->
    <a class="proceed"  onclick="revealProviderPlans()">Proceed</a>
    </div>

    <!--Sixth Phase || ---API PHASE FOR DATA PLANS--- || -->
    <div class="dataPlans" id="dataPlans">
        <div class="selectHeader">
            <h1 class="spp">Select Provider Plan</h1>
            <h3 class="cancelBtn" id="cancelBtn" onclick="cancelPlan()">cancel</h3>
        </div>
        <div id="MTN_plans"class="providerPlans" style="display:none;">
            {% for mtn_plan in MTN_PLANS %}
            <div class="providerPlanX" id="providerPlan{{mtn_plan.code}}">
                <div class="pp">
                    <a onclick="submit('{{mtn_plan.data_id}}','{{mtn_plan.price}}','{{mtn_plan.size}}')" class="">{{mtn_plan.type}} {{mtn_plan.size}} {{mtn_plan.validity}}</a>
                    <p class="dataPrice" id=" ">N{{mtn_plan.price}}</p>
                </div>
                <img src='{% static "images/lamp.png" %}' alt="" class="pImg">
            </div>
            {% endfor %}
        </div>
        <div id="GLO_plans"class="providerPlans" style="display:none;">
            {% for glo_plan in GLO_PLANS %}
            <div class="providerPlanX" id="providerPlan1">
                <div class="pp">
                    <a onclick="submit('{{glo_plan.data_id}}','{{glo_plan.price}}','{{glo_plan.size}}')" class="">{{glo_plan.type}} {{glo_plan.size}} {{glo_plan.validity}}</a>
                    <p class="dataPrice" id=" ">N{{glo_plan.price}}</p>
                </div>
                <img src='{% static "images/lamp.png" %}' alt="" class="pImg">
            </div>
            {% endfor %}
        </div>
        <div id="9MOBILE_plans"class="providerPlans" style="display:none;">
            {% for mobile9_plan in MOBILE9_PLANS %}
            <div class="providerPlanX" id="providerPlan{{mobile9_plan.code}}">
                <div class="pp">
                    <a onclick="submit('{{mobile9_plan.data_id}}','{{mobile9_plan.price}}','{{mobile9_plan.size}}')" class="">{{mobile9_plan.type}} {{mobile9_plan.size}} {{mobile9_plan.validity}}</a>
                    <p class="dataPrice" id=" ">N{{mobile9_plan.price}}</p>
                </div>
                <img src='{% static "images/lamp.png" %}' alt="" class="pImg">
            </div>
            {% endfor %}
        </div>
        <div id="AIRTEL_plans"class="providerPlans" style="display:none;">
            {% for airtel_plan in AIRTEL_PLANS %}
            <div class="providerPlanX" id="providerPlan{{airtel_plan.code}}">
                <div class="pp">
                    <a onclick="submit('{{airtel_plan.data_id}}','{{airtel_plan.price}}','{{airtel_plan.size}}')" class="">{{airtel_plan.type}} {{airtel_plan.size}} {{airtel_plan.validity}}</a>
                    <p class="dataPrice" id=" ">N{{airtel_plan.price}}</p>
                </div>
                <img src='{% static "images/lamp.png" %}' alt="" class="pImg">
            </div>
            {% endfor %}
        </div>
    </div>
    <form method="post" action="/buy/data/" id="buy_data_form">
        {% csrf_token %}
        <input type="hidden" id="NP" name="NP" value="">
        <input type="hidden" id="code" name="code" value="">
        <input type="hidden" id="data_size" name="data_size" value="">
        <input type="hidden" id="data_price" name="data_price" value="">
        <input type="hidden" id="phonenofield" name="phonenofield" value="">
    </form>

    <script>
        function showBalance(){
            document.getElementById("walletBalance").style.display = "block";
            document.getElementById("walletBalanceHidden").style.display = "none";
            document.getElementById("invisible").style.display = "block";
            document.getElementById("visible").style.display = "none";
        }
    
        function hideBalance(){
            document.getElementById("walletBalance").style.display = "none";
            document.getElementById("walletBalanceHidden").style.display = "block";
            document.getElementById("invisible").style.display = "none";
            document.getElementById("visible").style.display = "block";
        }
    
        function viewMore(){
            document.getElementById("moreServices").style.display = "flex";
            document.getElementById("others").style.display = "none";
        }
    

        function change1(){
           
            document.getElementById("overlay1").style.opacity = 0.8;
            document.getElementById("overlay2").style.opacity = 0;
            document.getElementById("overlay3").style.opacity = 0;
            document.getElementById("overlay4").style.opacity = 0;
            document.getElementById("NP").value = "MTN";
        }

        function change2(){
          
            document.getElementById("overlay2").style.opacity = 0.8;
            document.getElementById("overlay1").style.opacity = 0;
            document.getElementById("overlay3").style.opacity = 0;
            document.getElementById("overlay4").style.opacity = 0;
            document.getElementById("NP").value = "GLO";
        }

        function change3(){ 
            document.getElementById("overlay3").style.opacity = 0.8;
            document.getElementById("overlay1").style.opacity = 0;
            document.getElementById("overlay2").style.opacity = 0;
            document.getElementById("overlay4").style.opacity = 0;
            document.getElementById("NP").value = "9MOBILE";
        }

        function change4(){
            
            document.getElementById("overlay4").style.opacity = 0.8;
            document.getElementById("overlay1").style.opacity = 0;
            document.getElementById("overlay2").style.opacity = 0;
            document.getElementById("overlay3").style.opacity = 0;
            document.getElementById("NP").value = "AIRTEL";
        }

        function revealProviderPlans(){
            providerPlan = document.getElementById("NP").value;
            document.getElementById(providerPlan+"_plans").style.display = 'block';
            document.getElementById("dataPlans").style.display = 'block';
            document.getElementById("bigEnvelope").style.display = 'none';
            document.getElementById("dataPlans").style.transitionDuration = '1000ms';
            document.getElementById("bigEnvelope").style.transitionDuration = '1000ms';
        }
        
        function cancelPlan(){
            document.getElementById("bigEnvelope").style.display = 'block';
            document.getElementById("dataPlans").style.display = 'none';
            providerPlan = document.getElementById("NP").value;
            document.getElementById(providerPlan+"_plans").style.display = 'none';
        }

        function submit(code, price, size){
            phoneno = document.getElementById("phoneno").value;
            document.getElementById("code").value = code;
            document.getElementById("phonenofield").value = phoneno;
            document.getElementById("data_price").value = price;
            document.getElementById("data_size").value = size;
            document.getElementById("buy_data_form").submit();
        }
    </script>
</body>
</html>
