<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hortspurt</title>
    <link rel="stylesheet" href='{% static "index.css" %}'/>

    <style>

      @media screen and (max-width:1400px) {
        body {
          width: min-content;
        }
        img.outer{
        margin-right: 100px;
      }
      }
      
    </style>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#"
        ><img src='{% static "images/NEW2 3.png" %}'/><img
          src='{% static "images/NEW2 2.png"  %}'
      /></a>
      </div>

      <img src='{% static "images/Group 1223.png" %}' alt="" class="circle"/>

      <div class="links">
        <a href="/registration">SignUp</a>
        <a href="/accounts/login">Login</a>
      </div>
    </header>

    <div class="welcome">
      <div class="intro">
        <h1>Welcome to Hortspurt</h1>
        <h3>No Data? Don't Worry!</h3>
        <p>
          We bring to you a <span>Zero data connection</span> service where you can buy data
          while you are out of Data.
        </p>
        <a href="/registration"><button class="start">Get Started</button></a>
      </div>
<!--the rectangle images div-->
      <div class="rectangles">
        <div class="image-1">
          <img
            src='{% static "images/Rectangle 1242.png" %}'
            alt=""
            class="outer"
          />
          <img
            src='{% static "images/Group 19.png" %}'
            alt=""
            class="inner"
          />
        </div>
<!--the second right rectangle-->
        <div class="image">
          <img src='{% static "images/Rectangle 1241.png" %}' class="big"
          style="width: 600px; margin: 0 auto;" />
          <img
            src='{% static "images/Galaxy Note 20 Ultra.png" %}'
            class="galaxy"
          />
        </div>
      </div>
    </div>

    <section class="why_us">
      <h3>Why Us?</h3>

      <img src='{% static "images/Group 1221.png" %}' alt="" class="up" />

      <img src='{% static "images/Group 1222.png" %}' alt="" class="left" />

      <div class="box">
        <div class="item">
          <img src='{% static "images/cloud-connection.png" %}' alt="" />
          <h3>Zero Data Connection</h3>
          <p>Our service allows You To Buy Data Without Data On Your Phone</p>
        </div>
        <div class="item">
          <img src='{% static "images/dollar-square.png" %}' alt="" />
          <h3>Cheap Data Connection</h3>
          <p>Our service allows You To Buy Data at a very Cheap Price</p>
        </div>
        <div class="item">
          <img src='{% static "images/flash.png" %}' alt="" />
          <h3>Fast Buying Service</h3>
          <p>
            Our service allows You To Buy Data/Airtime On the Go and Seamlessly
          </p>
        </div>
      </div>
    </section>

    <section class="services">
      <div class="back_drop">
        <img src='{% static "images/Group 1214.png" %}' alt="" />
      </div>
      <div class="image-4">
        <img src='{% static "images/OnePlus 10T.png" %}' alt="" />
      </div>

      <div class="services_text">
        <h2>Other Services</h2>

        <div class="list">
          <div class="item">
            <img src='{% static "images/tick-circle.png" %}' alt="" />
            <h3>Electricity Bill</h3>
          </div>
          <div class="item">
            <img src='{% static "images/tick-circle.png" %}' alt="" />
            <h3>Cable</h3>
          </div>
          <div class="item">
            <img src='{% static "images/tick-circle.png" %}' alt="" />
            <h3>Cryto Exchange</h3>
          </div>
          <div class="item">
            <img src='{% static "images/tick-circle.png" %}' alt="" />
            <h3>Logistics</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="about-us">
      <h3 style="padding-top: 50px">About Us</h3>

      <div class="about">
        <div class="image">
          <img src='{% static "images/Phone 1.png" %}' alt="" />
        </div>

        <div class="content">
          <p>
            In today's interconnected world, mobile phones have become an
            essential part of our daily lives. However, accessing basic services
            like airtime top-ups can sometimes be challenging, especially when
            users face limitations such as a lack of data subscriptions. Our
            AirtimeTopUp app is designed to address this issue by providing a
            user-friendly and efficient solution for purchasing airtime without
            the need for an active data subscription.
          </p>
        </div>
      </div>
    </section>

    <footer style="background-color: #95b">
      <img src='{% static "images/Vector 179.png" %}' alt="" style="width: 100%" />

      <div class="foot">
        <div class="contact">
          <div class="num">
            <h3>Contact</h3>
            <p><a href="">+2348039263055</a></p>
            <p><a href="">+2348100772436</a></p>
            <p></p>
          </div>
          <div class="mail">
            <h3 style="margin-bottom: 30px;">Mail</h3>
            <p><a href="">Hortspurt@gmail.com</a></p>
          </div>
        </div>

        <div class="support">
          <h3 style="margin-bottom: 40px;">Support</h3>
          <h3>Career</h3>
        </div>
      </div>
    </footer>
  </body>
</html>
