<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insufficient funds</title>

    <link rel="stylesheet" href='{% static "css/dataPurchase.css" %}'>
    <link rel="stylesheet" href='{% static "Insufficient.css" %}'>

</head>
<body>
    
<a href='/' class="cancelBtn">Cancel</a>

<div class="amountInNaira">
    NGN {{amount}}
</div>

<div class="networkType">
    <div class="nt">
        Network Type
    </div>
    <div class="networkAndImg">
        {% if NP == 'MTN' %}
        <img src='{% static "images/npminilogos/mtn mini logo.png" %}'>
        {% elif NP == 'GLO' %}
        <img src='{% static "images/npminilogos/glo mini logo.png" %}'>
        {% elif NP == 'AIRTEL' %}
        <img src='{% static "images/npminilogos/airtel mini logo.png" %}'>
        {% elif NP == '9MOBILE' %}
        <img src='{% static "images/npminilogos/9mobile mini logo.png" %}'>
        {% endif %}
        <span class="mb">Airtime</span>
    </div>
</div>

<div class="amountToBuy">
    <span>
      Amount  
    </span>
    <span class="amt">
        NGN {{amount}}
    </span>
</div>

<div class="paymentHeading">
    Payment
</div>

<div class="walletBox">
    <div class="walletB">
        <img src='{% static "images/Group.png" %}' alt=" ">
        <span class="wb">
           Wallet Balance
        </span>
        <img src='{% static "images/Show.png" %}' alt="" id="invisible" onclick="hideBalance()">
        <img src='{% static "images/Show (1).png" %}' alt="" id="visible" onclick="showBalance()">
    </div>

    <div class="walletBalance" id="walletBalance">
        NGN {{user.profile.wallet_balance}}
    </div>

    <div class="walletBalanceHidden" id="walletBalanceHidden">
       <img src='{% static "images/hid.png" %}' alt="">
       <img src='{% static "images/hid.png" %}' alt="">
       <img src='{% static "images/hid.png" %}' alt="">
       <img src='{% static "images/hid.png" %}' alt="">
    </div>
    
    <div class="approval">
        Approved
    </div>    
</div>

<div class="bhr">
</div>

<div class="numbbox">
    <div class="netimg">
        {% if NP == 'MTN' %}
        <img src='{% static "images/npminilogos/mtn mini logo.png" %}'>
        {% elif NP == 'GLO' %}
        <img src='{% static "images/npminilogos/glo mini logo.png" %}'>
        {% elif NP == 'AIRTEL' %}
        <img src='{% static "images/npminilogos/airtel mini logo.png" %}'>
        {% elif NP == '9MOBILE' %}
        <img src='{% static "images/npminilogos/9mobile mini logo.png" %}'>
        {% endif %}
        <img src='{% static "images/Line 5.png" %}' alt="">
    </div>
    <input type="text" class="phonenumb" value="+234{{phone_no}}"  readonly>
</div>

<a onclick="checkout()" class="proceed">Proceed</a>
<!-- The Modal -->
<div id="welcomeModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span id="close">&times;</span>
      <h1> &#x1F622;</h1>
      <h2>Oh no!</h2>
      <p>You are out of balance</p>
    </div>
</div>
<form method="post" action="/buy/airtime/checkout/" id="buy_airtime_form">
    {% csrf_token %}
    <input type="hidden" id="NP" name="NP" value="{{NP}}">
    <input type="hidden" id="amount" name="amount" value="{{amount}}">
    <input type="hidden" id="phonenofield" name="phonenofield" value="0{{phone_no}}">
</form>




<script>

    function showBalance(){
        document.getElementById("walletBalance").style.display = "block";
        document.getElementById("walletBalanceHidden").style.display = "none";
        document.getElementById("invisible").style.display = "block";
        document.getElementById("visible").style.display = "none";
    }

    function hideBalance(){
        document.getElementById("walletBalance").style.display = "none";
        document.getElementById("walletBalanceHidden").style.display = "block";
        document.getElementById("invisible").style.display = "none";
        document.getElementById("visible").style.display = "block";
    }
    document.addEventListener('DOMContentLoaded', function() {
    // Get the modal element
    var modal = document.getElementById('welcomeModal');

    // Get the button that opens the modal
    var span = document.getElementById('close');
    modal.style.display = 'none';

    // Function to open the modal
    function openModal() {
        modal.style.display = 'flex';
    }

    // Function to close the modal
    function closeModal() {
        modal.style.display = 'none';
    }

    openModal();

    // When the user clicks on <span> (x), close the modal
    span.addEventListener('click', closeModal);

    // When the user clicks anywhere outside of the modal, close it
    window.addEventListener('click', function(event) {
        if (event.target == modal) {
            closeModal();
        }
    });

    // Optional: If you want to close the modal when the user presses the Escape key
    document.addEventListener('keydown', function(event) {
        if (event.key === 'Escape') {
            closeModal();
        }
    });
    });
    function checkout(){
        document.getElementById("buy_airtime_form").submit();
    }
</script>

</body>
</html>
