<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hortspurt</title>
  </head>
    <body>
        <form id="paymentForm" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
            <label for="amount">Amount</label>
            <input name="amount" type="tel" id="amount" required />
            </div>
            <select name="account_bank" id="bank">
              <option value="044">Access</option>
              <option value="011">First Bank of Nigeria</option>
              <option value="050">Ecobank</option>
              <option value="070">Fidelity bank</option>
            </select>
            <div class="form-submit">
            <button type="submit"> Pay </button>
            </div>
        </form>
    </body>
</html>