<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href='{% static "profile.css" %}'>
</head>
<body>
    <div class="background">
        <div class="profile-header"> 
            <a href='/'><img src='{% static "images/11zon_17.jpeg" %}' alt="Back" id="back"></a>
            <h3 id="title">My Profile</h3>

            <div class="nav-toggle" id="nav-toggle" >
                <img src='{% static "images/11zon_1.jpeg" %}' alt="" id="open">
                <img src='{% static "images/11zon_17.jpeg" %}' alt="" id="close">
            </div>

            <nav class="nav-menu" id="nav-menu">
                <ul>
                    {% csrf_token %}
                    <li><a onclick='logout()'>Logout</a></li>
                    <li><a href='/my-profile/edit/'>Edit Profile</a></li>
                    <li><a href='{% static "delete.html" %}'>Delete Account</a></li>
                </ul>
            </nav>
            <!-- <a href='{% static "./purchase.html" %}'><img src='{% static "images/11zon_17.jpeg" %}' alt="Back"></a> -->
        </div>
        
        <div class="pic-container">
            <img src='{% static "images/icons8-person-64.png" %}' alt="User Profile Image">
        </div>

        <div class="table-content">
            <table>
                <tr>
                    <td> <img src='{% static "images/icons8-star-64.png" %}' alt="">First Name</td>
                    <td><span>{{user.first_name}}</span></td>
                </tr>

                <tr>
                    <td> <img src='{% static "images/icons8-star-64.png" %}' alt="">Last Name</td>
                    <td><span>{{user.last_name}}</span></td>
                </tr>

                <tr>
                    <td><img src='{% static "images/icons8-star-64.png" %}' alt="">Phone</td>
                    <td><span>{{user.username}}</span></td>
                </tr>

                <tr>
                    <td><img src='{% static "images/icons8-star-64.png" %}' alt="">Gender</td>
                    <td><span>{{user.profile.gender}}</span></td>
                </tr>

                <tr>
                    <td><img src='{% static "images/icons8-star-64.png" %}' alt="">Email</td>
                    <td><span>{{user.email}}</span></td>
                </tr>
            </table>
        </div>
        
        <div class="refer">
            <p class="head">Refer & Get Free Data<br><span>Earn 1GB on every person you refer</span></p>
            <img src='{% static "images/acct-outline.png" %}' alt="Refer">
        </div>
        
        <!-- Footer Navigation -->
        <footer>
            <div class="bottom">
                <a href='/' class="icon"><img src='{% static "images/Group 18/Group.jpg" %}' alt="Home"></a>
                <p>Home</p>
            </div>
            <div class="bottom">
                <a href="/shoutout.html" class="icon"><img src='{% static "images/Group 18/account-tie-voice-outline.jpg" %}' alt="Shoutout"></a>
                <p>Shoutout</p>
            </div>
            <div class="bottom">
                <a href="/coming-soon" class="icon"><img src='{% static "images/Group 18/gift-outline.jpg" %}' alt="Bonus"></a>
                <p>Bonus</p>
            </div>
            <div class="bottom">
                <a href="/coming-soon" class="icon"><img src='{% static "images/Group 18/clock.jpg" %}' alt="History"></a>
                <p>History</p>
            </div>
            <div class="bottom">
                <a href="#" class="icon"><img src='{% static "images/Group 18/face-man.jpg" %}' alt="Me"></a>
                <p style="color:#9955BB;">Me</p>
            </div>
        </footer>
    </div>

    <script>
        
    const navToggle = document.getElementById('nav-toggle');
    const navMenu = document.getElementById('nav-menu');
    const openIcon = document.getElementById('open');
    const closeIcon = document.getElementById('close');
    const title = document.getElementById("title");
    const back = document.getElementById("back");

    navToggle.addEventListener('click', function() {
        if (navMenu.style.display === 'flex') {
            navMenu.style.display = 'none';
            openIcon.style.display = 'block';
            closeIcon.style.display = 'none';
            title.style.display = 'block'
            back.style.display = 'block';
        } else {
            navMenu.style.display = 'flex';
            openIcon.style.display = 'none';
            closeIcon.style.display = 'block';
            title.style.display = 'none';
            back.style.display = 'none';
        }
    });
    closeIcon.style.display = 'none';

    function logout() {
        token = document.getElementsByName('csrfmiddlewaretoken')[0]
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/accounts/logout/';
        form.appendChild(token);
        document.body.appendChild(form);
        form.submit();
    }
   
    </script>
</body>
</html>
