<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Log In and Sign Up page</title>
    <link rel="stylesheet" href='{% static "stylesheet.css" %}'/>
    <script src="https://kit.fontawesome.com/05c18b0994.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form_box">
        <section>
         <h1>Welcome back</h1> <i class="fa-solid fa-user" style="color: #9955bc;"></i>
            <form>
             <div class="input_group"></div>
                <div class="input_field">
                    <i class="fa-solid fa-user" style="color: #c0c0c0;"></i>
                    <input type="text", placeholder="Name">
                </div>
                <div class="input_field">
                    <i class="fa-regular fa-key" style="color: #c0c0c0;"></i>
                    <input type="password", placeholder="Pin">
                </div>
                <div class="button">
                    <button type="submit">Sign In</button>
                </div>
                    <label class="Save_info">Save login info
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>    
            </form>
        </section>
    </div>    

    <section>
        <div>
         <p>Don't have an account? <a href="/accounts/login/">Click here to sign up</a></p>
        </div>
    </section>    
</body>
</html>